/*div object classes*/
.headerBar{
  min-height: 80px;
  background-Color: #5271ff;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
    
.headerElements{
  font-size: 20px;
  padding: 40px
}

.NavIcon{
  margin-left: auto;
  padding: 40px;
}

.entryElements{
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.landing {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}
.bioElements {
  min-height: 80vh;
  max-width: 60vw;
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: lightgray;
}

.centerE {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

/*Text Formatting*/
.headText{
  margin-top: 100px;
  font-size: 40;
  color: black;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.normText{
  font-size: 20px;
}

.boldText{
  font-size: 20px;
}

/*ids*/

#tagline{
  margin-top: 40px;
  font-size: 40px;
  color: black;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

#entry{
  font-size: 30px;
  background-color: #5271ff;
  color: white;
  align-items: center;
  margin-top: 40px;
}

.pList{
  display: flex;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
}